useDynLib(pact, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(ape, node.depth.edgelength, read.tree, read.nexus, dist.nodes, getMRCA, extract.clade)
importFrom(stats, median, quantile, loess, predict, lm, coef, setNames)

export(run_pact)
export(build_pact_params)
export(read_pact_stats)
export(read_pact_tips)
export(read_pact_skylines)
export(read_pact_pairs)
export(pact_example_files)
export(pact_parameter_reference)
export(pact_manual)
export(parse_tip_dates)
export(read_beast_posterior)
export(persistence_dta)
export(plot_persistence)
export(dta_proportions)
export(pact_to_proportions)
export(plot_dta_proportions)
export(lineage_through_time)
export(plot_ltt)
export(plot_tree_beast)
export(root_to_tip)
export(pairwise_tmrca)
export(find_mrca)
export(pact_example_dta)
